<div class="about">
  <h2>Sobre o VistaVault</h2>
  <p>
    O VistaVault é mais do que uma plataforma para compartilhar momentos; é um espaço dedicado a conectar pessoas e preservar memórias valiosas. Cada experiência compartilhada aqui é uma oportunidade de relembrar, refletir e celebrar as pequenas e grandes conquistas da vida. Com o VistaVault, você pode dividir suas histórias com aqueles que mais importam, recebendo feedback e comentários genuínos de quem você mais confia. Acreditamos que cada momento tem o poder de inspirar, e nosso objetivo é proporcionar uma interface intuitiva e segura para que você possa registrar suas experiências com tranquilidade e estilo.
    <br><br>
    Quer se trate de uma aventura inesquecível, uma simples alegria cotidiana ou um marco importante, no VistaVault, suas memórias ganham vida e relevância.
  </p>
  <a routerLink="/moments/new">Quero compartilhar minha experiência!</a>
</div>
